/* body::before {
  content: "";
  background-image: url("../images/Desktop.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 4625px;
  height: 3041px;
  opacity: 0.4;
} */

body {
  width: 4625px;
  height: 3041px;
  cursor: url("../hand.svg"), pointer;
}

#cloud-l {
  position: absolute;
  width: 2028px;
  height: 1307px;
  top: -380px;
  left: -59px;
}

#cloud-r {
  position: absolute;
  width: 2226px;
  height: 1435px;
  top: -196.27px;
  left: 2400px;
}
#snow {
  position: absolute;
  width: 4625px;

  top: 2407px;

  opacity: 1;
}

#back-tree-left {
  /* back-tree-left */

  position: absolute;
  width: 967px;
  height: 1305px;
  left: 476px;
  top: 1630px;

  /* background: url(bg_removal [Background removed].png); */
  mix-blend-mode: normal;
}
#back-tree-right-1 {
  /* back-tree-left-1 */

  position: absolute;
  width: 973px;
  height: 1731px;
  left: 3099px;
  top: 1168px;
}
#back-tree-right-2 {
  /* back-tree-left-2 */

  position: absolute;
  width: 782px;
  height: 1225px;
  scale: 1.2;
  left: 3766px;
  top: 401px;
}

#front-tree-left-1 {
  /* front-tree-left-1 */

  position: absolute;
  width: 924px;
  height: 2620px;
  left: 0px;
  top: 421px;

  mix-blend-mode: normal;
  filter: blur(10.6px);
}
#front-tree-left-2 {
  /* front-tree-left-2 */

  position: absolute;
  width: 1639px;
  height: 1194px;
  left: 636px;
  top: 1847px;

  mix-blend-mode: normal;
}
#front-tree-right-1 {
  /* front-tree-right-1 */

  position: absolute;
  width: 1552px;
  height: 2440px;
  left: 3067px;
  top: 601px;

  filter: blur(17.05px);
}
#front-tree-right-2 {
  /* front-tree-right-2 */

  position: absolute;
  width: 1340px;
  height: 1412px;
  left: 2275px;
  top: 1629px;
}

#sun {
  position: absolute;
  /* width: 1738px;
  height: 1383px; */
  left: 769px;
  top: 1300px;
}

#black-dawn {
  position: absolute;
  /* width: 1738px;
  height: 1383px; */
  left: 0px;
  top: 915px;
  width: 4625px;
}

.princessa {
  font-family: "Miss Fajardose";
  color: rgba(255, 82, 206, 1);
  font-size: 179.76px;
  /* line-height: 114%; */
  text-align: center;
  position: absolute;
  left: 1780px;
  line-height: 113.99999999999999%;
  width: 1100px;
}

/* TV */
.TV {
  position: absolute;
  top: 264px;
  left: 2038px;
  width: 546px;
  height: 331px;
  background-color: #fcabfc;
  background-image: url("../images/gifs/TV-program.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  border: solid #ff52ce 4px;
}

#paws {
  width: 577px;
  height: 376px;
  position: absolute;
  top: -23px;
  left: -14px;

  opacity: 1;
}

#blood {
  width: 550px;
  height: 307px;
  position: absolute;
  top: 320px;
  left: -2px;
  z-index: -100;
}

.info {
  font-size: 16px;
  color: #501333;
  width: 79px;
}

#about-me {
  position: absolute;
  top: 15px;
  left: 463px;
}

p {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 113.7%;
  margin-bottom: 10px;
}

#teddy {
  /* image 673590503 */

  position: absolute;
  width: 256px;
  height: 286px;
  left: 1314px;
  top: 765px;
  cursor: url("../patpatpat.gif"), pointer;
}

#pif {
  position: absolute;
  width: 531.62px;
  height: 499px;
  left: 535px;
  top: 851px;
}
#glass {
  /* Mask group */

  position: absolute;
  width: 151px;
  height: 151px;
  left: 1180px;
  top: 1497px;
}

#bunny {
  /* Group 2131330773 */

  position: absolute;
  width: 516.52px;
  height: 530px;
  left: 4037px;
  top: 90px;
}
#mirror {
  /* Frame 12 */

  position: absolute;
  width: 261px;
  height: 597px;
  left: 547px;
  top: 2296px;
}
#bed-1 {
  /* Mask group */

  position: absolute;
  width: 144.9px;
  height: 220px;
  left: 2682px;
  top: 915px;
}
#bed-2 {
  /* Mask group */

  position: absolute;
  width: 505px;
  height: 350.75px;
  left: 2483px;
  top: 989px;
}

#pants {
  /* Frame 5 */

  position: absolute;
  width: 200px;
  height: 216px;
  left: 3743px;
  top: 1255px;
}
#bonnet {
  /* Frame 11 */

  position: absolute;
  width: 202px;
  height: 182px;
  left: 3558px;
  top: 2737px;
}

#knife {
  /* Frame 13 */

  position: absolute;
  width: 273.52px;
  height: 279.49px;
  left: 1847px;
  top: 2762px;
}

/* png-s */
#ants {
  width: 500;
  height: 500;
  position: absolute;
  top: 81px;
  left: 377px;
  opacity: 1;
  mix-blend-mode: Multiply;
}

#flattergif {
  width: 275px;
  height: 310px;
  position: absolute;
  top: 296px;
  left: 1754px;

  opacity: 1;
}

#miku {
  width: 282px;
  height: 282px;
  position: absolute;
  top: 214px;
  left: 3887px;
  opacity: 1;
}
#touchme {
  width: 671px;
  height: 268px;
  position: absolute;
  top: 1847px;
  left: 1976px;
  opacity: 1;
}

#catgirl {
  width: 199px;
  height: 199px;
  top: 290px;
  left: 2613px;
  position: absolute;
  opacity: 1;
}
#anime {
  /* image 673590506 */

  position: absolute;
  width: 720px;
  height: 480px;
  left: 1977px;
  top: 1230px;
}

#wings {
  width: 798px;
  height: 668px;
  position: absolute;
  top: 794px;
  left: 1000px;
  transform: rotate(2deg);
  opacity: 1;
}

#flower {
  width: 416px;
  height: 416px;
  position: absolute;
  top: 2447px;
  left: 1330px;
  opacity: 1;
}

#nyancat {
  width: 500;
  height: 354;
  position: absolute;
  top: 1573px;
  left: 1421px;
  opacity: 1;
}

#butterfly {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1965px;
  left: 2988px;
  opacity: 1;
}

#spider {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 815px;
  left: 3480px;
  transform: rotate();
  opacity: 1;
}

#kittygirl {
  width: 175px;
  height: 174px;
  position: absolute;
  top: 159px;
  left: 2016px;
  opacity: 1;
}

#angel {
  width: 459px;
  height: 333px;
  position: absolute;
  top: 601px;
  left: 4065px;
  opacity: 1;
}

#tomato {
  /* height: 143px; */
  position: absolute;
  top: 650px;
  left: 2988px;
}

#wolf {
  width: 97px;
  height: 120px;
  position: absolute;
  top: 515px;
  left: 2622px;

  opacity: 1;
}
#text {
  width: 394px;
  height: 394px;
  position: absolute;
  top: 861px;
  left: 3383px;

  opacity: 1;
}

/* video */

#video_1 {
  width: 444px;
  height: 266px;
  position: absolute;
  top: 745px;
  left: 1886px;
  opacity: 1;
  cursor: url("../paw.svg"), pointer;
}
#video_2 {
  width: 444px;
  height: 266px;
  position: absolute;
  top: 1458px;
  left: 2766px;
  opacity: 1;
  cursor: url("../paw.svg"), pointer;
}
#video_3 {
  width: 444px;
  height: 266px;
  position: absolute;
  top: 1497px;
  left: 467px;
  opacity: 1;
  cursor: url("../paw.svg"), pointer;
}

/* .video-container .video-hover {
  display: none;
}

.video-container:hover .video-default {
  display: none;
}

.video-container:hover .video-hover {
  display: block;
} */

#video_4 {
  width: 444px;
  height: 266px;
  position: absolute;
  top: 1140px;
  left: 1151px;
  opacity: 1;
  cursor: url("../paw.svg"), pointer;
}

#video_5 {
  width: 444px;
  height: 2 66px;
  position: absolute;
  top: 469px;
  left: 182px;
  opacity: 1;
  cursor: url("../paw.svg"), pointer;
}
/* #video_6 {
  width: 444px;
  height: 266px;
  position: absolute;
  top: 159px;
  left: 3433px;
  opacity: 1;
  filter: blur(10px);
  clip-path: inset(20px);
  /* mask-image: radial-gradient(circle, black 10%, transparent 100%); */
/* -webkit-mask-image: radial-gradient(circle, black 60%, transparent 100%); */
/*
  filter: grayscale(100%); /* ЧБ фильтр 
  mask-image: linear-gradient(to bottom, black calc(100% - 80px), transparent),
    linear-gradient(to top, black calc(100% - 80px), transparent),
    linear-gradient(to right, black calc(100% - 80px), transparent),
    linear-gradient(to left, black calc(100% - 80px), transparent);
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
} */

.gray-vid {
  filter: grayscale(100%);
  transition: all 0.5s ease;
  mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    ),
    linear-gradient(
      to left,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );

  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

.gray-vid:hover {
  filter: none;
}

#video_6 {
  width: 444px;
  height: 266px;
  position: absolute;
  top: 159px;
  left: 3433px;
  opacity: 1;
  cursor: url("../paw.svg"), pointer;

  mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to left,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );

  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

.folder {
  display: flex;
  justify-self: center;

  /* Frame 6 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 2px;

  position: relative;
  width: 165px;
  height: 154px;
}
#old {
  position: absolute;
  width: 165px;
  height: 154px;
  left: 553px;
  top: 1196px;
}

#game {
  position: absolute;
  width: 165px;
  height: 154px;
  left: 1855px;
  top: 1420px;
}

#trash {
  position: absolute;
  width: 165px;
  height: 154px;
  left: 3231px;
  top: 536px;
}

#dont1 {
  /* Frame 7 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 2px;

  position: absolute;
  width: 165px;
  height: 154px;
  left: 3156px;
  top: 2637px;
}
#dont2 {
  /* Frame 8 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 2px;

  position: absolute;
  width: 165px;
  height: 154px;
  left: 3814px;
  top: 2570px;
}
#dont3 {
  /* Frame 10 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 2px;

  position: absolute;
  width: 165px;
  height: 154px;
  left: 4015px;
  top: 2796px;
}
#dont4 {
  /* Frame 9 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 2px;

  position: absolute;
  width: 165px;
  height: 154px;
  left: 4260px;
  top: 2330px;
}

/* subtitles
.talks {
  мои родители купили эту кровать, когда мне было восемь. пружины скрипели каждый раз, когда я поворачивалась. сейчас мне тринадцать, и мои ноги достают до края.

  position: absolute;
  width: 463px;
  height: 48px;
  left: calc(50% - 463px / 2 - 0.5px);
  top: calc(50% - 48px / 2 + 467px);

  font-family: "Brill";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 113.72%;
  text-align: center;

  color: #ffffff;
} */

/* .item {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background: #eee;
  cursor: pointer;
  border-radius: 6px;
}

#subtitle {
  margin-top: 40px;
  padding: 15px;
  font-size: 18px;
  color: #333;
  min-height: 30px;
  border-top: 1px solid #ccc;
  font-family: sans-serif;
} */

/* .item {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  /* background: #eee; */
/* cursor: pointer;
  border-radius: 6px;
  font-family: sans-serif;
} */

/* Фиксированный блок субтитров */
#talkie {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);
  min-height: 40px;
  padding: 12px 20px;
  /* background: rgba(0, 0, 0, 0.7); */
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 8px #00000087;
  border-radius: 8px;
  font-family: "Brill";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  /* or 19px */
  text-align: center;
  /* white-space: nowrap; */
  pointer-events: none;
}

/* Контейнер плеера */
#player {
  position: fixed;
  top: 20px;
  right: 20px; /* чтобы не пересекаться с mute */
  /* background: rgba(0, 0, 0, 0.4); */
  /* padding: 10px 14px; */
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 14px;
  z-index: 9999;
  user-select: none;
  backdrop-filter: blur(4px);
}

/* #player {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0,0,0,0.4);
  padding: 10px 14px;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  z-index: 9999;
  user-select: none;
  backdrop-filter: blur(4px);
} */

#trackName {
  width: 100px;
  margin-bottom: 6px;
  font-size: 13px;
  opacity: 0.9;
  text-align: center;
}

#controls span {
  cursor: pointer;
  margin: 0 6px;
  font-size: 20px;
  transition: opacity 0.2s;
}

#controls span:hover {
  opacity: 0.6;
}
